{% extends 'base.html' %}

{% block content %}
<div class="w3-container w3-padding-32">
    <h1 class="w3-text-teal">About Us</h1>
    <p>Welcome to Bookworm, your go-to destination for book enthusiasts! Our mission is to create a vibrant community where readers can discover, discuss, and share their love for literature.</p>

    <h2 class="w3-text-teal">What We Offer</h2>
    <p>Explore a vast collection of books across various genres, read reviews from fellow bookworms, and engage in insightful discussions. Whether you're a fan of classics, mysteries, or fantasy, we've got something for every reader.</p>

    <h2 class="w3-text-teal">Connect with Other Readers</h2>
    <p>Connect with like-minded individuals, join book clubs, and share your thoughts on your favorite reads. Our platform is designed to foster a sense of community among book lovers.</p>

    <h2 class="w3-text-teal">Contribute Your Voice</h2>
    <p>Have a favorite book you want to review? Want to share your literary insights or recommendations? Contribute your voice by writing reviews, participating in discussions, and engaging with the book-loving community.</p>

    <h2 class="w3-text-teal">Contact Us</h2>
    <p>We'd love to hear from you! If you have any questions, suggestions, or feedback, feel free to reach out to us via the contact form. Your input helps us make Bookworm an even better place for book enthusiasts.</p>
</div>
{% endblock %}
